<html>
<head>
<title>Camisetas equipos</title>
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}">
{% endblock %}
</head>
<body>
<div class="productos">Camisetas</div>
  <br>
  <br>
 <a href="productos/1" class="boton">Camiseta 1 </a>
 <a href="productos/2" class="boton">Camiseta 2 </a>

</body>
</html>
